/*Variables*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

h2 + p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 5px auto 55px;
}

h2, h3 {
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 38px;
}

p {
  margin: 10px auto;
  font-weight: 100;
  font-size: 13px;
  color: #747d8c;
}

/* Background-head */
.section-one {
  position: relative;
  height: 100vh;
  margin-top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), url("https://images.pexels.com/photos/2480854/pexels-photo-2480854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #2f3640;
  font-weight: bold;
  padding-bottom: 15px;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
}

.navigation .logo-title {
  margin: 25px auto 0 150px;
  font-family: 'Chilanka', cursive;
  font-size: 26px;
  color: #c23616;
  text-shadow: 1px 1px 1px #192a56;
}

.navigation .menu {
  margin-right: 180px;
  margin-top: 14px;
  margin-left: auto;
}

.navigation .menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.navigation .menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2f3640;
  padding: 14px;
}

.navigation .menu a:hover {
  background-color: #dcdde1;
  color: #c23616;
}

.header {
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.header .splash h2 {
  font-style: italic;
}

.header div {
  margin: 10% auto;
  text-align: center;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
}

.header h2 {
  font-size: 38px;
  font-weight: normal;
}

.header h1 {
  font-size: 55px;
}

.header h2, .header h1 {
  color: #192a56;
  text-shadow: 1px 1px 5px #2f3640;
  word-spacing: 5px;
}

.header .btn {
  display: inline-block;
  min-width: 150px;
  margin: 14px auto;
  padding: 22px 44px;
  background: #c23616;
  border: 1px solid #2f3640;
  border-radius: 5px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

/*services*/
.services {
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

.services i {
  font-size: 36px;
  margin-bottom: 22px;
  border: 3px solid #c23616;
  border-radius: 50%;
  height: 68px;
  width: 68px;
  line-height: 55px;
}

.services .box a {
  font-size: 0;
  color: #c23616;
}

/*Portfolio*/
.portfolio {
  background-color: #dfe4ea;
  text-align: center;
}

.portfolio p {
  font-style: italic;
}

.portfolio .row .card {
  height: 300px;
  margin-bottom: 155px;
  background-color: #ffffff;
}

.portfolio .row .card-body {
  background: white;
  margin: 0;
  padding: 15px 5px;
}

.portfolio .row .card-body p {
  margin: 2px 0;
}

.portfolio .row .card-image {
  height: 100%;
}

.portfolio .row img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* footer */
.footer .container {
  padding: 10px 20px;
  max-width: 80%;
}

.footer ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
}

.footer p {
  display: inline-block;
  color: #2f3640;
  font-weight: bold;
  margin-left: 70px;
}

.footer li {
  display: inline-block;
  font-size: 0;
}

.footer i {
  font-size: 18px;
  background-color: black;
  color: #fff;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin-left: 8px;
  padding-left: 1px;
}
/*# sourceMappingURL=style.css.map */