/*Variables*/
$color-main: #c23616;
$color-text: #2f3640;
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;  
    font-family: 'Muli', sans-serif;  
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 20px;
}
.row {
    max-width: 80%;
    margin: 0 auto;
}
h2 + p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 5px auto 55px;
}
h2, h3 {
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 38px;
}
p {
    margin: 10px auto;
    font-weight: 100;
    font-size: 13px;
    color: #747d8c;
}
/* Background-head */
.section-one {
    position: relative;
    height: 100vh;
    margin-top: 0;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8)), url("https://images.pexels.com/photos/2480854/pexels-photo-2480854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    //background-image: url('https://images.pexels.com/photos/2480854/pexels-photo-2480854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: $color-text;
    font-weight: bold;
    padding-bottom: 15px;
}
.navigation {
    display: flex;
    .logo {
        margin: 0 auto;
        font-family: 'Chilanka', cursive;
        font-size: 26px;
        color: $color-main;
        text-shadow: 1px 1px 1px #192a56;
    }
    .menu {
        margin-right: 180px;
        margin-top: 14px;
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;
        }
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $color-text;
            padding: 14px;
            &:hover {
                background-color: #dcdde1;
                color: $color-main;
            }
        }
    }
}
.header {
    display: flex;
    margin: auto;
    
    div {
        margin: 10% auto;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    h2 {
        font-size: 38px;
        font-weight: normal;
    }
    h1 {
        font-size: 55px;
    }
    h2, h1 {
        color: #192a56;
        text-shadow: 1px 1px 5px #2f3640;
        word-spacing: 5px;
    }
    .btn {
        display: inline-block;
        min-width: 150px;
        margin: 14px auto;
        padding: 22px 44px;;
        background: $color-main;
        border: 1px solid #2f3640;
        border-radius: 5px;
    }
    a {
        text-decoration: none;
        color: #ffffff;

    }
}
/*services*/
.services {
    align-items: center;
    text-align: center;
    i {
        font-size: 36px;
        margin-bottom: 22px;
        border: 3px solid $color-main;
        border-radius: 50%;
        height: 68px;
        width: 68px;
        line-height: 55px;
    }
    .box a {
        font-size: 0;
        color: $color-main;
    }
}
/*Portfolio*/
.portfolio {
    background-color: #dfe4ea;
    text-align: center;
    p {
        font-style: italic;
    }

    .row {
        .card {
            height: 400px;
            margin-bottom: 155px;
            background-color: #ffffff;
        }
        .card-body {
            background: white;
            margin: 0;
            padding: 15px 5px;
            p {
                margin: 2px 0;
            }
        }
        .card-image {
            height: 100%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        
    }
}